ul{
    float: right;
    list-style-type: none;
    

}
ul li{
    display: inline-block;
    
}
ul li a{
    text-decoration: none;
    color:black;
    padding: 5px 20px;
    border: 1px solid #fff;
}
body{
    font-family: 'Poppins', sans-serif;
}
    

h1{
    font-size: 50px;
}
.banner{
    
   display:flex;
   justify-content: space-between;
}

.half-width{
    width:50%;
   
    
}
.half-width img{
    width: 70%;
    margin: 20%;
    
    

   
}
img{
    height: 70%;
   
    

}
.preebook-now{
    text-decoration: none;
    background-color: firebrick;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
h2{
   text-align: center; 
}
.masud{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
.popular img{
   
    width: 400px;
    height: 250px;
}

.course-info{
    
    display: flex;
    align-items:stretch;
    flex-direction: column;
}

.fa-star{
    font-size:12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}



    
     




